.card{
    height:290px;
    margin-top: 20px;
   width:25rem;
   
}
.cards{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  position:relative;
  
}
.active{
    width:10rem;
    height:10rem;
    
}
.form{
    width :18rem;

}
.outer{
    display:flex;
    justify-content: space-between;
    margin-top: 2rem;
    
}
 .button{
    height:3rem;
    position:absolute;
    top:12rem;
    left:60rem;
    
}